[submodule "src/cpp/extern/Catch2"]
	path = src/cpp/extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "src/cpp/extern/clang-p2996"]
	path = src/cpp/extern/clang-p2996
	url = https://github.com/bloomberg/clang-p2996.git
	branch = p2996
